<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cao</title>
</head>
<body>
  <li>
  <p>O nome dele é Guto, ele tem envolta de 5 anos e vive no abrigo á 3 anos, muito docil. </p>
  <img src="https://www.rbsdirect.com.br/imagesrc/25743537.jpg?w=700" width="250">
  </li>
  <li>
  <p>O nome dela é Zuzu, tem envolta de 10 anos e vive a 1 ano no abrigo, muito calma com crianças.</p>
  <img src="https://i.pinimg.com/originals/b7/bc/e7/b7bce73ac8a3792de5dce1ed222ee46f.jpg" width="250">
  </li>
  <li>
  <p>O nome dela é Lili, tem envolta de 1 ano e vive a 2 meses no abrigo, muito brincalhona.</p>
  <img src="https://www.petvale.com.br/imagens/129423-vira-lata-srd-femea-perdido-parque-savoy-city-sem-cep_33441.jpeg" width="250">
  </li>
</body>
</html>
